 * {
                margin: 0;
            }
            .navbar {
                position: fixed;
                width: 100%;
                padding: 1%;
                background: white;
                padding: 1%;
                box-shadow: 1px 1px 10px rgba(153, 153, 153, 0.36);
            }
            .navbar ul {
                float: right;
                margin-top: 10px;
                margin-right: 20px;
            }
            .navbar li {
                display: inline;
                width: 100px;
            }
            .navbar a {
                text-decoration: none;
                color: #49bde5;
            }
            #html, #css, #cli {
                padding: 100px 50px;
                border-bottom: 5px solid #49bde5;
            }
            #html {
                
                background-color: #49bee531
;
            }
            #css {
                background-color: white;
            }
            #h1{
                color: orange;
                border-bottom: 1px solid #999999;
                padding-bottom: 10px;
            }
            /* Every IMG Inside of the energy DIV */
            div img{
                margin-bottom: 16px;
            }
            .card {
                background: white;
                width: 400px;
                padding: 16px;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: 1px 1px 12px gray;
            }
            .question {
                font-weight: 900;
            }
            .answer{
                margin 16px;
            }